<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>We need camera permission for QR code scan</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
        <string>RobotoSlab-Regular.ttf</string>
		<string>RobotoSlab-Bold.ttf</string>
		<string>Arvo-Bold.ttf</string>
		<string>RobotoSlab-BoldItalic.ttf</string>
		<string>RobotoSlab-Italic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Medium.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>Lora-Bold.ttf</string>
		<string>Lora-Regular.ttf</string>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>This app uses Face ID for secure authentication.</string>
	<key>GMSApiKey</key>
	<string>AIzaSyDVUeAtCLN1dvo711iPCgTL1dLHiV5Z1Ec</string>
</dict>
</plist>
